# 03.01 -  Introducing Pandas Objects

 Pandas is a newer package built on top of NumPy, and provides an efficient implementation of a <code>DataFrame</code>.  
 
 A <code>DataFrame</code> is a multidimensional array with attached row and column labels, often with heterogeneous data types and possibly missing data.  
 
Pandas builds on NumPy and the <code>ndarray</code> data structure, allowing us to store and manipulate DataFrames in an efficient matter.

In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.__version__

'0.23.4'

In [3]:
pd?

Pandas' main data structures are <code>Series</code>, <code>DataFrame</code>, and <code>Index</code>.

### Series Object

A Pandas Series is a one-dimensional array of indexed data:

In [4]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

<code>Series</code> comprises a sequence of values and indexes, accessible with the <code>values</code> and <code>index</code> attributes.  

**Note**: While NumPy has _implicitly defined_ indexes, Pandas Series has _explicitly defined_ indexes.

Values are a NumPy array:

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

The <code>index</code> is an array-like object of type <code>pd.Index</code> (more details later):

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[2]

0.75

In [8]:
data[:3]

0    0.25
1    0.50
2    0.75
dtype: float64

The fact that indexes are _explicitly_ defined in Pandas, allows us more flexibility in their type.  

For example, indexes can be strings ..

In [9]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [10]:
data['d']

1.0

.. or non-sequential integers:

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[28, 42, 5, 99])
data

28    0.25
42    0.50
5     0.75
99    1.00
dtype: float64

In [12]:
data[42]

0.5

So far, Pandas <code>Series</code> strike a strong resemblance to Python dictionaries. Indeed, we can directly contruct a <code>Series</code> from a Python dict:

In [13]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

In [14]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

#### Constructing Series objects

In [15]:
# single repeated value
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [16]:
# data as a dict, with keys becoming indexes
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [17]:
# limiting the Series only to the explicited dict keys
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

### DataFrame Object

A <code>Dataframe</code> is an analog of a two-dimensional array with both flexible row indices and flexible column names.  

It can be useful to think of a <code>Dataframe</code> as a sequence of _aligned_ <code>Series</code> objects sharing the same index.

In [18]:
# starting with a Series
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [19]:
# we can contruct a DataFrame
states = pd.DataFrame({'Population': population,
                       'Area': area})
states

            Population    Area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [20]:
# similar to Series
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [21]:
states.columns

Index(['Population', 'Area'], dtype='object')

We can also think of a <code>DataFrame</code> as a specialization of a dictionary, mapping a column name to a <code>Series</code> of column data:

In [22]:
states['Population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: Population, dtype: int64

**Note**: differently from NumPy arrays, here <code>data[0]</code> will return a column, _not_ a row.

#### Constructing DataFrame objects

In [23]:
# from a single Series Object
pd.DataFrame(population, columns=['Area'])

                Area
California  38332521
Texas       26448193
New York    19651127
Florida     19552860
Illinois    12882135

In [24]:
# from a list of dicts
data = [{'a': i, 'b': 2 * i}
        for i in range(6)]
pd.DataFrame(data)

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10

In [25]:
# if keys are missing, default filling with NaN
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [26]:
# from a dictionary of Series objects
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [27]:
# from a two-dimentional NumPy array
pd.DataFrame(np.random.rand(3, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c'])

        foo       bar
a  0.099502  0.105709
b  0.715605  0.303963
c  0.277030  0.648932

In [28]:
# integers as default rows and cols names
pd.DataFrame(np.random.rand(3, 2))

          0         1
0  0.652128  0.903196
1  0.391291  0.781851
2  0.828969  0.745822

In [29]:
# from a NumPy structured array
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

### Index Object

An <code>Index</code> can be thought of either as an immutable array or as an ordered set (technically a multi-set, as Index objects may contain repeated values).

In [30]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

<code>Index</code> objects have attributes similar to NumPy arrays:

In [31]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

However, a key difference is that they are **immutable**:

In [32]:
ind[0] = 1

TypeError: Index does not support mutable operations

Also, <code>Index</code> objects follow many of the conventions used by Python's built-in <code>set</code> data structure:

In [33]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [34]:
indA & indB  # intersection

Int64Index([3, 5, 7], dtype='int64')

In [35]:
indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [36]:
indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

**Note**: Object methods are also available (e.g. <code>indA.intersection(indB)</code>)