# 03.02 - Data Indexing and Selection

This section covers indexing and selection methods similar to those of section 02.07 for NumPy.  

These methods apply to both one-dim <code>Series</code> and multi-dim <code>Dataframe</code> Objects.

### Data Selection in Series

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
# selection similar to a dict
data['c']

0.75

We can check whether a value is present or now:

In [3]:
'd' in data

True

In [4]:
'z' in data

False

And list all the keys/indexes and values of the <code>Series</code>:

In [5]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [6]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

We can extend the <code>Series</code> as we would with a dict:

In [7]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

Series have also the typical arrays methods of selection and indexing: _slicing_, _masking_ and _fancy indexing_:

In [8]:
# explicit indexing
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [9]:
# implicit indexing
data[0:3]

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [11]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

**Note**: in explicit indexing the final index is included in the slice, in implicit indexing it is not.

### Indexers: loc and iloc

Indexing / Slicing conventions can create issues, especially when indexes are integers:

In [12]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [13]:
# explicit index when indexing
data[1]

'a'

In [14]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

**Indexer** attributes can be of help, explicitly exposing certain indexing schemes:

First, the <code>loc</code> attribute allows indexing and slicing that always references the explicit index:

In [15]:
data.loc[1]

'a'

In [16]:
data.loc[1:3]

1    a
3    b
dtype: object

The <code>iloc</code> attribute allows indexing and slicing that always references the implicit Python-style index:

In [17]:
data.iloc[1]

'b'

In [18]:
data.iloc[1:3]

3    b
5    c
dtype: object

**Note**: <code>ix</code> used to be an hybrid of the two, and for Series objects is equivalent to standard <code>[]</code> based indexing. **It should now be deprecated**.

**Note**: All things equal, explicit is better than implicit.

### Data Selection in DataFrame

Let's use our old example:

In [19]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [20]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Equivalently, we can use attribute-style access with column names that are strings:

In [21]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [22]:
# the two methods have the same data type
data.area is data['area']

True

**Note**: there may be conflicts when methods have the same name as rows/cols:

In [23]:
data.pop?

In [24]:
data.pop is data['pop']

False

For this reason, column assignment are better done via <code>DataFrame['col']</code>.

We can also use dict-synthax to modify the object:

In [26]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763

In [27]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01]])

We can also transpose it using the <code>T</code> method:

In [31]:
data.T

           California         Texas      New York       Florida      Illinois
area     4.239670e+05  6.956620e+05  1.412970e+05  1.703120e+05  1.499950e+05
pop      3.833252e+07  2.644819e+07  1.965113e+07  1.955286e+07  1.288214e+07
density  9.041393e+01  3.801874e+01  1.390767e+02  1.148061e+02  8.588376e+01

We can also treat it like a NumPy array. In this case, the index corresponds to the columns:

In [30]:
data.values[0]

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [32]:
data.values[1]

array([6.95662000e+05, 2.64481930e+07, 3.80187404e+01])

In [35]:
data["area"]

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Here Pandas again uses the <code>loc</code>, <code>iloc</code>, and <code>ix</code> indexers mentioned earlier:

In [36]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

Using the <code>loc</code> indexer we can index the underlying data in an array-like style but using the explicit index and column names:

In [37]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

The usual combination of masking / fancy indexing etc. still applies:

In [43]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746
Florida   19552860  114.806121

### Additional indexing conventions

_Indexing_ refers to cols < > _Slicing_ refers to rows:

In [44]:
data['Florida':'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [45]:
data[1:3]

            area       pop     density
Texas     695662  26448193   38.018740
New York  141297  19651127  139.076746

Direct masking operations are also interpreted row-wise rather than column-wise:

In [46]:
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746
Florida   170312  19552860  114.806121