# 03.02 - Data Indexing and Selection

This section covers indexing and selection methods similar to those of section 02.07 for NumPy.  

These methods apply to both one-dim <code>Series</code> and multi-dim <code>Dataframe</code> Objects.

### Data Selection in Series

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
# selection similar to a dict
data['c']

0.75

We can check whether a value is present or now:

In [7]:
'd' in data

True

In [8]:
'z' in data

False

And list all the keys/indexes and values of the <code>Series</code>:

In [9]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [11]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

We can extend the <code>Series</code> as we would with a dict:

In [13]:
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

Series have also the typical arrays methods of selection and indexing: _slicing_, _masking_ and _fancy indexing_:

In [18]:
# explicit indexing
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [19]:
# implicit indexing
data[0:3]

a    0.25
b    0.50
c    0.75
dtype: float64

In [17]:
# masking
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [20]:
# fancy indexing
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

**Note**: in explicit indexing the final index is included in the slice, in implicit indexing it is not.

### Indexers: loc, iloc, and ix

Indexing / Slicing conventions can create issues, especially when indexes are integers:

In [21]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [22]:
# explicit index when indexing
data[1]

'a'

In [23]:
# implicit index when slicing
data[1:3]

3    b
5    c
dtype: object

**Indexer** attributes can be of help, explicitly exposing certain indexing schemes:

First, the <code>loc</code> attribute allows indexing and slicing that always references the explicit index:

In [24]:
data.loc[1]

'a'

In [25]:
data.loc[1:3]

1    a
3    b
dtype: object

The <code>iloc</code> attribute allows indexing and slicing that always references the implicit Python-style index:

In [26]:
data.iloc[1]

'b'

In [27]:
data.iloc[1:3]

3    b
5    c
dtype: object

<code>ix</code> is a hybrid of the two, and for Series objects is equivalent to standard <code>[]</code> based indexing.

**Note**: All things equal, explicit is better than implicit.

### Data Selection in DataFrame

Let's use our old example:

In [30]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127
Florida     170312  19552860
Illinois    149995  12882135

In [32]:
data['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

Equivalently, we can use attribute-style access with column names that are strings:

In [34]:
data.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [36]:
# the two methods have the same data type
data.area is data['area']

True

**Note**: there may be conflicts when methods have the same name as rows/cols:

In [40]:
data.pop?

In [41]:
data.pop is data['pop']

False

For this reason, column assignment are better done via <code>DataFrame['col']</code>.

We can also use dict-synthax to modify the object:

In [42]:
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763