# 03.03 - Operating on Data in Pandas

Pandas keeps the usuful <code>ufuncs</code> seen in section 02.03.  

Additionally, for unary operations ufuncs will **preserve index and column labels** in the output, and for binary operations, Pandas will automatically **align indices** when passing the objects to the ufunc.

### Ufuncs: Index Preservation

Because Pandas is designed to work with NumPy, any NumPy ufunc will work on Pandas <code>Series</code> and <code>DataFrame</code> objects.

In [1]:
import pandas as pd
import numpy as np

In [2]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [3]:
df = pd.DataFrame(rng.randint(0, 10, (3, 4)),
                  columns=['A', 'B', 'C', 'D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [4]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [5]:
np.cos(df * np.pi / 4)

              A             B             C             D
0 -1.836970e-16  7.071068e-01  6.123234e-17 -1.836970e-16
1  7.071068e-01 -1.000000e+00 -7.071068e-01  7.071068e-01
2  7.071068e-01  6.123234e-17 -7.071068e-01 -1.000000e+00

As we can see, the indexes of the DataFrame have been preserved throughout the operations, no matter which.

### UFuncs: Index Alignment

As an example, suppose we are combining two **different data sources**, and find only the top three US states by area and the top three US states by population:

In [6]:
area = pd.Series({'Alaska': 1723337, 'Texas': 695662,
                  'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193,
                        'New York': 19651127}, name='population')

In [7]:
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64

The resulting array contains the **union** of indices of the two input arrays, which could be determined using standard Python set arithmetic on these indices:

In [8]:
area.index | population.index

Index(['Alaska', 'California', 'New York', 'Texas'], dtype='object')

If necessary, we can explicit the filling value by using a method instead of an operator:

In [12]:
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
A.add(B, fill_value = 0.0)

0    2.0
1    5.0
2    9.0
3    5.0
dtype: float64